*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4b6cb7;
    background: linear-gradient(to right, #182848, #4b6cb7);
    font-style: normal;
}

.titulo{
    position: relative;
    display: flex;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tituloH1{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.encabezado{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0)
}
.tarjeta{
    background-color: skyblue;
    height: 400px;
    width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    justify-content: center;
}

.tituloTarjeta{
    text-align: center;
    padding: 15px;
    color: darkblue;
    font-size:  20px;

}

.Inicio{
    display: flex;
    justify-content: center;
}

.Inicio > a{
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 90px;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #4b6cb7;
}
.Inicio > a:hover{
    background-color: darkblue;
}

.InicioLinks{
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

.InicioLinks > a{
    color: white;
    background-color: blue;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 90px;
    height: 80px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #4b6cb7;
}
.InicioLinks > a:hover{
    background-color: darkblue;
}

.formularios{
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    padding: 15px;
    color: darkblue;
    font-size:  20px;
}
.formularios > input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid #4b6cb7;
}
.formularios > label >input{
    margin-bottom: 15px;
    padding: 10px;
}
.botonRegistro{
    background-color: blue;
    color: white;
}
.botonRegistro:hover{
    background-color: darkblue;
}
.botonInicioSesion{
    background-color: blue;
    color: white;
}
.botonInicioSesion:hover{
    background-color: darkblue;
}
.buttonAtras{
    background-color: blue;
    width: 80px;
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #4b6cb7;
    color: white;
    text-decoration: none;
    margin-left: 15px;
   
}

.buttonAtras:hover{
    background-color: darkblue;
}

.botonGuardarDatos{
    background-color: blue;
    color: white;
}

.botonGuardarDatos:hover{
    background-color: darkblue;
}




